* {
    margin: 0px;
}

img {
    width: 360px;
}

nav {
    display: flex;
    justify-content: space-between;

    ul {
        gap: 100px;
        display: flex
    }

    h1 {
        color: #BDA18A;
        font-size: 25px;
    }

    #btn {
        margin: 15px;
        padding: 10px;
        color: #E8D5CC;
        background-color: #BDA18A;
        font-weight: bold;
    }
}

li {
    list-style-type: none;
    font-size: 18px;

}

a {
    text-decoration: none;
    color: #BDA18A;
}

#hero {
    background-color: #BDA18A;
    display: flex;
    justify-content: center;
}

#accroche {
    padding: 100px;
align-items: center;

}

.button {
    margin: 95px;
    padding: 17px;
    background: center;
}
