* {
    margin: 0px;
}

img {
    width: 300px;
}

nav {
    display: flex;
    justify-content: space-between;

    ul {
        gap: 100px;
        display: flex
    }

    h1 {
        color: #BDA18A;
        font-size: 25px;
        margin-bottom: 15px;
    }

    #btn {
        margin: 15px;
        padding: 10px;
        color: #E8D5CC;
        background-color: #BDA18A;
        font-weight: bold;
    }
}

li {
    list-style-type: none;
    font-size: 18px;

}

a {
    text-decoration: none;
    color: #BDA18A;
}

#hero {
    background-color: #BDA18A;
    display: flex;
    justify-content: center;
    padding: 50px;
}

#accroche {
    padding: 100px;
    align-items: center;
text-align: center;
}

.button {
    margin: 95px;
    padding: 17px;
    background: center;
}

.flex {
    display: flex;
    padding: 88px;
    gap: 20px;
    background-color: #E8D5CC;
  
}

#container {
    padding: 186px;
    font-size: 19px;
    
}

h2 {
    text-align: center;

}

#footer {
    background-color: #BDA18A;
    padding: 30px;
}

#titre {
    padding-top: 20px;
}
#pi{
    text-align: end;
}
p{
   font-family: "Nunito", sans-serif;
  
}
.bordur{
border: 1px solid black;
}